

    html, 
	body 
	{ 
	padding: 0; margin: 0; 
	font-family: Conv_Welbut__;
	background: #222; 
	color: #fff; 
	font-size: 20pt; 
	line-height: 1.5; 
	padding: 2%; 
	}
	
    h1 
	{ 
	margin: 0; 
	padding: 0; 
	}
	
    .teletype-prefix, 
	.teletype-cursor 
	{ 
	color: #fff; 
	}
	
	img{
 width:80px;

}

#logo {
   float:left;
}