
@font-face {
	font-family: 'Conv_Welbut__';
	src: url('fonts/Welbut__.eot');
	src: local('☺'), url('fonts/Welbut__.woff') format('woff'), url('fonts/Welbut__.ttf') format('truetype'), url('fonts/Welbut__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

